# Extension Plan - Data Preprocessing

In this extension, I incorporate several additional datasets that provide insights into mortality rates due to respiratory diseases, asthma-related healthcare patterns (including both inpatient hospitalizations and emergency room visits), and the volume of respiratory-related medical procedures performed annually.

In this notebook, I load the acquired health data and preprocess it to make it more usable for further analysis. Specifically, I preprocess the following:

1. **CDC Wonder Mortality Data:** This dataset contains detailed information about mortality from 1999 - 2020, and contains the following columns: Year, Age Group, Gender, Number of Deaths.
This data was gathered from the [CDC Wonder Mortality Website](https://wonder.cdc.gov/mcd-icd10.html) and the specific query was as follows:

    - Query Criteria:
        - States: Maricopa County, AZ (04013)
        - UCD - ICD-10 Codes: J00-J98 (Diseases of the respiratory system)
        - Group By:	Year; Ten-Year Age Groups; Gender

    Raw Data that was downloaded from the source can be found [here](../Raw%20Data/1999-2020_Mortality%20Data.txt).

2. **ADHS Asthma-Related Inpatient Discharges and Emergency Visits Data:** This dataset includes information on asthma-related inpatient discharges (2000-2021) and emergency visits (2003-2021) across Maricopa County (where Mesa is located). The original data has information breakdowns by gender, age group, and county of residence. However, this dataset was in an inconsistent state, and I therefore manually cleaned up this data and stored it as an [excel file](../Processed%20Data/Hospital_Inpatient_Emergency_Data.xlsx) with columns as follows: Year, Gender, Type of Record, Asthma All Mentions, Asthma First Diagnosis

    - The original data was gathered the [ADHS Website](https://pub.azdhs.gov/health-stats/hip/index.php?pg=asthma)

    - Raw Data that was downloaded from the source can be found [here](../Raw%20Data/Inpatient%20VS%20Emergency/).

3. **ADHS Medical Procedures Data:** This dataset includes county-level information about the number of inpatient discharges by different medical procedures performed annually from 2000 to 2021 by procedure category. It includes procedure categories such as respiratory therapy, which can be used to understand whether wildfires are leading to an increase in respiratory procedures. Specifically, this dataset includes: County, Year, Procedure Type, Number of Procedures.

    - The original data was gathered the [ADHS Website](https://pub.azdhs.gov/health-stats/hip/index.php?pg=procedure)

    - Raw Data that was downloaded from the source can be found [here](../Raw%20Data/By%20Procedures/).

In [25]:
#
#    IMPORTS
#

#    These are standard python modules. In case you do not have a python module, you should use `!pip install <module>`
import pandas as pd
import glob
#

### Dataset 1: CDC Wonder Mortality Data (Specifically due to respiratory diseases)

Here, I load the raw CDC Wonder data and preprocess it to ensure it is in a usable and standardised format.

In [5]:
mortality_data = pd.read_csv("../Raw Data/1999-2020_Mortality Data.txt", sep="\t")
mortality_data

,Notes,Year,Year Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,1999.0,1999.0,< 1 year,1,Male,M,12.0,25147.0,Unreliable
1,NaN,1999.0,1999.0,35-44 years,35-44,Female,F,15.0,231425.0,Unreliable
2,NaN,1999.0,1999.0,35-44 years,35-44,Male,M,17.0,239273.0,Unreliable
3,NaN,1999.0,1999.0,45-54 years,45-54,Female,F,36.0,180536.0,19.9
4,NaN,1999.0,1999.0,45-54 years,45-54,Male,M,43.0,173070.0,24.8
...,...,...,...,...,...,...,...,...,...,...
327,July 1 estimates. Population figures for Infan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,figures for years 2001 - 2009 differ slightly ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,were available at the time of release.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,6. The population figures used in the calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,resident population that is under one year of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

From above, we can see that there are lot of unneeded columns, and that there is a lot of NaN values. Therefore, in the next step, I remove the unneeded columns and drop the NaN values when they occur in the year column

In [6]:
mortality_data = mortality_data.drop(columns=['Crude Rate', 'Gender Code', 'Ten-Year Age Groups Code', 'Year Code', 'Notes'], axis=1)
mortality_data.dropna(subset=['Year'], inplace=True)
mortality_data

       Year Ten-Year Age Groups  Gender  Deaths  Population
0    1999.0            < 1 year    Male    12.0     25147.0
1    1999.0         35-44 years  Female    15.0    231425.0
2    1999.0         35-44 years    Male    17.0    239273.0
3    1999.0         45-54 years  Female    36.0    180536.0
4    1999.0         45-54 years    Male    43.0    173070.0
..      ...                 ...     ...     ...         ...
268  2020.0         65-74 years    Male   388.0    192741.0
269  2020.0         75-84 years  Female   487.0    124045.0
270  2020.0         75-84 years    Male   535.0    102384.0
271  2020.0           85+ years  Female   511.0     49896.0
272  2020.0           85+ years    Male   405.0     33811.0

[273 rows x 5 columns]

Now, we can see that Year is not in a datetime format, and that population and deaths are not integers but floats. So, I clean that up and ensure consistent naming for Age groups.

In [10]:
mortality_data.rename(columns={'Ten-Year Age Groups': 'Age Groups'}, inplace=True)
mortality_data['Deaths'] = pd.to_numeric(mortality_data['Deaths'], errors='coerce').fillna(0).astype(int)
mortality_data['Population'] = pd.to_numeric(mortality_data['Population'], errors='coerce').fillna(0).astype(int)

# Here I convert 'Year' to datetime and extract the year
mortality_data['Year'] = pd.to_datetime(mortality_data['Year'], format='%Y')
mortality_data['Year'] = mortality_data['Year'].dt.year

mortality_data

     Year   Age Groups  Gender  Deaths  Population
0    1999     < 1 year    Male      12       25147
1    1999  35-44 years  Female      15      231425
2    1999  35-44 years    Male      17      239273
3    1999  45-54 years  Female      36      180536
4    1999  45-54 years    Male      43      173070
..    ...          ...     ...     ...         ...
268  2020  65-74 years    Male     388      192741
269  2020  75-84 years  Female     487      124045
270  2020  75-84 years    Male     535      102384
271  2020    85+ years  Female     511       49896
272  2020    85+ years    Male     405       33811

[273 rows x 5 columns]

Now, that the data is cleaned up, we can see that there are too many age groups, so I decided to limit it to three agre groups, 0-24, 25-64 and then 65+ years.

In [8]:
print(mortality_data['Age Groups'].unique())

['< 1 year' '35-44 years' '45-54 years' '55-64 years' '65-74 years'
 '75-84 years' '85+ years' '25-34 years']

In [11]:
# Define the bins and labels
bins = [0, 24, 64, float('inf')]
labels = ['0-24', '25-64', '65+']

aggregated_data = mortality_data.copy()

# I choose to drop the Population column since I wasn't going to use it, and so that the aggregation makes sense
aggregated_data.drop(columns=['Population'], inplace=True, errors='ignore')

# Update the Age Groups
age_groups_numeric = aggregated_data['Age Groups'].str.extract('(\d+)')[0].astype(float)
aggregated_data['Age Groups'] = pd.cut(age_groups_numeric, bins=bins, labels=labels, right=False)
aggregated_data = aggregated_data.groupby(['Year', 'Age Groups', 'Gender']).agg({'Deaths': 'sum'}).reset_index()

aggregated_data

     Year Age Groups  Gender  Deaths
0    1999       0-24  Female       0
1    1999       0-24    Male      12
2    1999      25-64  Female     119
3    1999      25-64    Male     144
4    1999        65+  Female    1103
..    ...        ...     ...     ...
127  2020       0-24    Male       0
128  2020      25-64  Female     243
129  2020      25-64    Male     314
130  2020        65+  Female    1354
131  2020        65+    Male    1328

[132 rows x 4 columns]

Now I save the final cleaned mortality data in the processed data folder

In [14]:
aggregated_data.to_csv("../Processed Data/1999_2020_Mortality_Data.csv", index=False)

### Dataset 2: ADHS Asthma-Related Inpatient Discharges and Emergency Visits Data

Here I take the manually cleaned file and split it into multiple files to make it more usable.

In [15]:
hospital_data = pd.read_excel('../Processed Data/Hospital_Inpatient_Emergency_Data.xlsx')
hospital_data

,Year,Gender,Type of Record,"Asthma, All Mentions","Asthma, First Diagnosis"
0,2003,Female,Inpatient Discharge,6540,1168
1,2003,Female,Emergency Visits,8591,3358
2,2003,Male,Inpatient Discharge,3517,1066
3,2003,Male,Emergency Visits,6804,3336
4,2004,Female,Inpatient Discharge,13729,2318
...,...,...,...,...,...
71,2020,Male,Emergency Visits,23202,4722
72,2021,Female,Inpatient Discharge,19892,617
73,2021,Female,Emergency Visits,35640,6055
74,2021,Male,Inpatient Discharge,10907,503
75,2021,Male,Emergency Visits,21448,5615

We notice that there is a scope for us to split the above dataset into two based on the type of records to make it more usable. Therefore, in the next steps, I do this split and save it as two separate files.

In [16]:
inpatient_discharge_data = hospital_data[hospital_data['Type of Record'] == 'Inpatient Discharge']
inpatient_discharge_data.head()

,Year,Gender,Type of Record,"Asthma, All Mentions","Asthma, First Diagnosis"
0,2003,Female,Inpatient Discharge,6540,1168
2,2003,Male,Inpatient Discharge,3517,1066
4,2004,Female,Inpatient Discharge,13729,2318
6,2004,Male,Inpatient Discharge,7321,1836
8,2005,Female,Inpatient Discharge,14963,2444

In [17]:
emergency_visits_data = hospital_data[hospital_data['Type of Record'] == 'Emergency Visits']
emergency_visits_data.head()

,Year,Gender,Type of Record,"Asthma, All Mentions","Asthma, First Diagnosis"
1,2003,Female,Emergency Visits,8591,3358
3,2003,Male,Emergency Visits,6804,3336
5,2004,Female,Emergency Visits,18366,6273
7,2004,Male,Emergency Visits,14039,6245
9,2005,Female,Emergency Visits,23984,7346

In [18]:
inpatient_discharge_data.to_csv('../Processed Data/2003_2021_inpatient_discharge_data.csv', index=False)
emergency_visits_data.to_csv('../Processed Data/2003_2021_emergency_visits_data.csv', index=False)

### Dataset 3: ADHS Medical Procedures Data

Here, I load the raw medical procedures data and preprocess it to ensure it is in a usable and standardised format. We then store it into two separate files.

This data was also in a very unusable format, and therefore it first required me to understand what all is there in the data and how is it stored, before being able to put it in a standardised format

In [19]:
df = pd.read_excel('../Raw Data/By Procedures/proc300.xls', header=1)
print(df)

   Number of Procedures by Category and County of Residence, Arizona, 2000  \
0                                                  \n
1
2                                                 NaN
3                    Operations on the nervous system
4                                          Spinal tap
5                               Operations on the eye
6                               Operations on the ear
7            Operations on the nose mouth and pharynx
8                Operations on the respiratory system
9                 Bronchoscopy with or without biopsy
10            Operations on the cardiovascular system
11             Removal of coronary artery obstruction
12                       Coronary artery bypass graft
13                            Cardiac catheterization
14          Insertion, replacement, removal, and r...
15                                       Hemodialysis
16       Operations on the hemic and lymphatic system
17                 Operations on the digestive system
18          Endoscopy of small intestine with or w...
19          Endoscopy of large intestine with or w...
20                Partial excision of large intestine
21                 Appendectomy, excluding incidental
22                                    Cholecystectomy
23                      Lysis of peritoneal adhesions
24                   Operations on the urinary system
25                  Cystoscopy with or without biopsy
26              Operations on the male genital organs
27                                      Prostatectomy
28            Operations on the female genital organs
29             Oophorectomy and salpingo-oophorectomy
30          Bilateral destruction or occlusion of ...
31                             Obstetrical procedures
32          Episiotomy with or without forceps or ...
33                    Artificial rupture of membranes
34             Repair of current obstetric laceration
35           Operations on the musculoskeletal system
36                           Partial excision of bone
37                              Reduction of fracture
38          Open reduction of fracture with intern...
39          Excision or destruction of interverteb...
40                              Total hip replacement
41                             Total knee replacement
42             Operations on the integumentary system
43           Debridement of wound, infection, or burn
44  Miscellaneous diagnostic and therapeutic proce...
45                      Computerized axial tomography
46          Arteriography and angiocardiography us...
47                              Diagnostic ultrasound
48                                Respiratory therapy
49                     Insertion of endotracheal tube
50          Injection or infusion of cancer chemot...

   Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0         NaN                  NaN        NaN        NaN        NaN
1       Total  County of Residence        NaN        NaN        NaN
2         NaN               Apache    Cochise   Coconino       Gila
3       22758                  136        370        354        353
4        4739                   24         54         65         44
5        2995                   15         99         47        123
6         377                    3          7         14         27
7        2603                   23         54         62         45
8       12651                   71        184        174        169
9        4221                   22         70         51         45
10      66693                  293       1295        880       1035
11      11854                   56        357        150        229
12       5953                   26        136         66         99
13      24736                  121        656        288        381
14       3598                   11         73         40         50
15       8534                   32        112        144        132
16       4795                   23        114         66         61
17      58997                  264        994        926       1099
18      13275                   65        216        130        305
19       7685                   37         80         72        203
20       3642                   13         42         51         51
21       6145                   23         80        126         62
22       9707                   43        201        193        193
23       5825                   21        118         89        122
24       9030                   53        173        122        137
25       2828                   16         36         43         30
26       3415                   20         61         45         31
27       2761                   13         48         33         22
28      20596                   87        394        362        333
29       8423                   37        146        167        119
30       4058                   24         84         66         84
31      63336                  195        813       1057        516
32      10469                   17         94        156         66
33      19809                   71        353         65        249
34      22437                   34        278        401        134
35      38898                  242        690        809        596
36       3798                   44         88        133         57
37       9003                   75        149        237        126
38       6510                   42        104        159         75
39       4277                   28         83        152         43
40       2715                   11         32         41         31
41       5205                   22        118         64         86
42      15852                   68        253        238        513
43       4016                   22         67         63         96
44      88980                  530       1678       1121       1625
45       1039                   10         17         35          6
46      30390                  140        832        363        498
47       2989                   59         32         98         28
48      11886                   87        236        185        186
49       8895                   44        149        108         95
50       2897                   14         65         22         42

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
0         NaN        NaN        NaN        NaN         NaN         NaN
1         NaN        NaN        NaN        NaN         NaN         NaN
2      Graham   Greenlee     La Paz   Maricopa      Mohave      Navajo
3          74         27         55      14625         557         468
4          11          9          9       3165         117          54
5          13          6         13       1305          51          28
6           0          1          1        196           9           9
7          13          3         13       1552          88          47
8          37         11         58       7964         426         170
9          12          5         14       2641         132          72
10        247         82        317      39803        2918        1004
11         50         24         61       6641         571         140
12         29         11         27       3637         153          86
13        104         56        126      14487        1007         349
14         24          9         12       1886         157          47
15         28          3         87       4985         269         218
16         19          3         17       2902          99          57
17        135         37        282      35436        2084         990
18         25          7        102       7776         503         162
19         12          4         43       4672         319          95
20          3          2         15       2302         169          29
21          8          3         16       4143         155         129
22         12          3         43       5397         370         202
23         30          5         22       3468         205          44
24         47         11         56       5337         374         230
25          5          2         17       1750         182          92
26          3          0         24       2101         180          67
27          2          0         22       1704         144          58
28        378         74         60      11843         627         369
29         50          6         30       5005         260         159
30          4          1          6       2175         173          93
31        247         59         73      43009         989         816
32         23          6          1       8009         273          89
33         38          5         42      13046         356         405
34          7          2         12      16209         199         215
35       1219        239        114      21218        1073         692
36         19          6          6       1980          87          74
37         61         18         30       5293         268         196
38         25          7         22       3945         211         131
39         17          8          8       2360          58          92
40         10          3         10       1681         102          36
41         20          6         13       3012         187          69
42       1058        206         52       8436         425         274
43          8          1         15       2289         110          89
44        886        229        363      50515        3359        1779
45          0          1          6        270          50          17
46        135         59        106      17248        1319         424
47          8          3         16       1583         113         258
48         39         12         66       6788         451         245
49         17          9         38       5243         342         162
50          1          9          1       1784          15          30

   Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2         Pima       Pinal  Santa Cruz     Yavapai        Yuma     Unknown
3         3262         862         122         933         558           2
4          678         201          27         121         160           0
5         1040          73          28          97          57           0
6           62          14           6          15          13           0
7          456          89          20          77          60           1
8         1820         569          61         512         419           6
9          617         162          21         162         191           4
10       10005        3636         363        2686        2112          17
11        1847         683          57         640         344           4
12         891         328          29         294         139           2
13        3980        1246         138         971         818           8
14         774         181          33         192         109           0
15        1294         717          61         200         251           1
16         882         202          38         211          99           2
17        9218        2716         473        2357        1969          17
18        2210         607          63         476         623           5
19        1134         318          41         309         346           0
20         522         141          15         168         119           0
21         681         311          48         204         154           2
22        1591         513         115         514         312           5
23        1007         270          43         296          84           1
24        1425         317          59         327         359           3
25         310          53          18         112         161           1
26         493         118          21         152          97           2
27         391          81          19         133          89           2
28        3569         879         200         838         580           3
29        1341         340          65         469         229           0
30         866         176          40          98         165           3
31        8963        2037         775        1220        2544          23
32         783         330          44         268         304           6
33        3533         474         411         301         455           5
34        2426         635         228         419        1229           9
35        7425        1549         225        1766        1033           8
36         834         140          12         226          91           1
37        1548         324          71         362         242           3
38        1052         241          52         267         175           2
39         927         164          24         237          76           0
40         423         113           8         145          69           0
41         883         274          27         282         142           0
42        2596         653         129         518         428           5
43         702         246          35         139         129           5
44       15370        4084         518        4259        2638          26
45         407           9           7         160          44           0
46        5259        1534         183        1209        1069          12
47         434          96          12         149          99           1
48        2120         569          97         378         422           5
49        1759         440          65         257         165           2
50         576         155          25          75          83           0

From above we can see tht directly reading the file wasn't very useful, therefore after manually looking at the data for a specific year, I decided to attempt reading it by skipping certain rows and doing basic preprocessing.

In [21]:
# Read the Excel file and skip the first 3 rows to get the actual data
df = pd.read_excel('../Raw Data/By Procedures/proc300.xls', skiprows=3, header=1)

df.rename(columns={'Unnamed: 0': 'Procedure', 'Unnamed: 1': 'Total'}, inplace=True)
print(df.head())

                                  Procedure  Total  Apache  Cochise  Coconino  \
0          Operations on the nervous system  22758     136      370       354
1                                Spinal tap   4739      24       54        65
2                     Operations on the eye   2995      15       99        47
3                     Operations on the ear    377       3        7        14
4  Operations on the nose mouth and pharynx   2603      23       54        62

   Gila  Graham  Greenlee  La Paz  Maricopa  Mohave  Navajo  Pima  Pinal  \
0   353      74        27      55     14625     557     468  3262    862
1    44      11         9       9      3165     117      54   678    201
2   123      13         6      13      1305      51      28  1040     73
3    27       0         1       1       196       9       9    62     14
4    45      13         3      13      1552      88      47   456     89

   Santa Cruz  Yavapai  Yuma  Unknown
0         122      933   558        2
1          27      121   160        0
2          28       97    57        0
3           6       15    13        0
4          20       77    60        1

Now, we can see that the above table is in a more readable format with the first column as the procedure name, the next column as the total number of treatments, the other columns as specific numbers for each county in Arizona.

Next, I explore what all procedures exist in the data and what procedures are relevant for our purposes. I specifically choose the procedures that could be affected by wildfires or smoke.

In [ ]:
df['Procedure'] = df['Procedure'].str.strip()
print(df['Procedure'].unique())

['Operations on the nervous system' 'Spinal tap' 'Operations on the eye'
 'Operations on the ear' 'Operations on the nose mouth and pharynx'
 'Operations on the respiratory system'
 'Bronchoscopy with or without biopsy'
 'Operations on the cardiovascular system'
 'Removal of coronary artery obstruction' 'Coronary artery bypass graft'
 'Cardiac catheterization'
 'Insertion, replacement, removal, and revision of pacemaker leads or device'
 'Hemodialysis' 'Operations on the hemic and lymphatic system'
 'Operations on the digestive system'
 'Endoscopy of small intestine with or without biopsy'
 'Endoscopy of large intestine with or without biopsy'
 'Partial excision of large intestine'
 'Appendectomy, excluding incidental' 'Cholecystectomy'
 'Lysis of peritoneal adhesions' 'Operations on the urinary system'
 'Cystoscopy with or without biopsy'
 'Operations on the male genital organs' 'Prostatectomy'
 'Operations on the female genital organs'
 'Oophorectomy and salpingo-oophorectomy'
 'Bilateral destruction or occlusion of fallopian tubes'
 'Obstetrical procedures'
 'Episiotomy with or without forceps or vacuum extraction'
 'Artificial rupture of membranes'
 'Repair of current obstetric laceration'
 'Operations on the musculoskeletal system' 'Partial excision of bone'
 'Reduction of fracture'
 'Open reduction of fracture with internal fixation'
 'Excision or destruction of intervertebral disc' 'Total hip replacement'
 'Total knee replacement' 'Operations on the integumentary system'
 'Debridement of wound, infection, or burn'
 'Miscellaneous diagnostic and therapeutic procedures'
 'Computerized axial tomography'
 'Arteriography and angiocardiography using contrast material'
 'Diagnostic ultrasound' 'Respiratory therapy'
 'Insertion of endotracheal tube'
 'Injection or infusion of cancer chemotherapeutic substance']

After looking at the procedures above, I decided that Respiratory therapy and Operations on the respiratory system are the most relevant with regards to our analysis, and therefore in the next step I filter the data for my city Mesa (which falls in the Maricopa county) and by the procedures defined above.

In [24]:
# Filter the dataframe for the specified procedures and column
procedures = ['Respiratory therapy', 'Operations on the respiratory system']
filtered_df = df[df['Procedure'].isin(procedures)][['Procedure', 'Maricopa']]

filtered_df

                               Procedure  Maricopa
5   Operations on the respiratory system      7964
45                   Respiratory therapy      6788

Now, that I have figured out what data I want and how to filter the data, I decided to write a function that will go through all the data (the ADHS Procedures data has separate files for each year) and provide me with one final dataset containing the year, which was extracted from the name of the file, and then the procedure, and number of procedures for the Maricopa county.

Note: In this process, I realised that not all the data was in the same format, and it required some manual cleaning to ensure the function was able to process the data correctly

In [ ]:
folder_path = '../Raw Data/By Procedures/'
file_pattern = folder_path + '*.xls*'

# Procedures of interest
procedures = ['Respiratory therapy', 'Operations on the respiratory system']

procedure_dfs = {procedure: [] for procedure in procedures}
for file_path in glob.glob(file_pattern):
    # Extract the year from the file name
    file_name = file_path.split('/')[-1]
    year = file_name.split('.')[0][-2:] 
    year = '20' + year  # Convert to full year
    
    # Preprocessing to read the data correctly
    if year in ['2000', '2001', '2002']: # The data format for these years was different from the rest, requiring different steps
        df = pd.read_excel(file_path, skiprows=3, header=1)
        #print(f"Year {year} and df -> {df.head()}")
        df.rename(columns={'Unnamed: 0': 'Procedure', 'Unnamed: 1': 'Total State'}, inplace=True)
    else:
        df = pd.read_excel(file_path, skiprows=2, header=1)
        df.rename(columns={'Procedures by category': 'Procedure'}, inplace=True)
       
    df['Procedure'] = df['Procedure'].str.strip()
    
    # Filter the dataframe for the specified procedures and Maricopa county
    for procedure in procedures:
        filtered_df = df[df['Procedure'] == procedure][['Procedure', 'Maricopa']].copy()
        if not filtered_df.empty:
            filtered_df.rename(columns={'Maricopa': 'Total'}, inplace=True)
            filtered_df['Year'] = year
            procedure_dfs[procedure].append(filtered_df)

# Combine all dataframes for each procedure into a single dataframe and reorder columns for clarity
final_dfs = {procedure: pd.concat(dfs, ignore_index=True) for procedure, dfs in procedure_dfs.items()}
for procedure in final_dfs:
    final_dfs[procedure] = final_dfs[procedure][['Year', 'Total']]

final_dfs

{'Respiratory therapy':     Year  Total
 0   2000   6788
 1   2001   7220
 2   2002   7801
 3   2003  10682
 4   2004   9819
 5   2005  11796
 6   2006  12290
 7   2007  12970
 8   2008  14531
 9   2009  16002
 10  2010  16570
 11  2011  16616
 12  2012  16679
 13  2013  16612
 14  2014  16676
 15  2015  16711,
 'Operations on the respiratory system':     Year  Total
 0   2000   7964
 1   2001   8953
 2   2002   9507
 3   2003  10061
 4   2004  10951
 5   2005  11804
 6   2006  12709
 7   2007  13075
 8   2008  13985
 9   2009  14571
 10  2010  14161
 11  2011  14129
 12  2012  13849
 13  2013  14030
 14  2014  14002
 15  2015  15096
 16  2016  18683
 17  2017  18764
 18  2018  19743
 19  2019  19954
 20  2020  20724}

Now I store the data into two separate files for further analysis

In [31]:
final_df_operations_respiratory_system = final_dfs['Operations on the respiratory system']
final_df_operations_respiratory_system

    Year  Total
0   2000   7964
1   2001   8953
2   2002   9507
3   2003  10061
4   2004  10951
5   2005  11804
6   2006  12709
7   2007  13075
8   2008  13985
9   2009  14571
10  2010  14161
11  2011  14129
12  2012  13849
13  2013  14030
14  2014  14002
15  2015  15096
16  2016  18683
17  2017  18764
18  2018  19743
19  2019  19954
20  2020  20724

In [32]:
final_df_respiratory_therapy = final_dfs['Respiratory therapy']
final_df_respiratory_therapy

    Year  Total
0   2000   6788
1   2001   7220
2   2002   7801
3   2003  10682
4   2004   9819
5   2005  11796
6   2006  12290
7   2007  12970
8   2008  14531
9   2009  16002
10  2010  16570
11  2011  16616
12  2012  16679
13  2013  16612
14  2014  16676
15  2015  16711

In [33]:
final_df_respiratory_therapy.to_csv('../Processed Data/2000_2015_respiratory_therapy.csv', index=False)
final_df_operations_respiratory_system.to_csv('../Processed Data/2000_2020_respiratory_system_operations.csv', index=False)

The final data for each of the procedures is now saved in the processed data folder for further analysis